*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
